
<a href="https://podcasts.apple.com/us/podcast/only-the-important-stuff/id1642759665" target="_blank" class="badge badge-light"><i class="fab fa-apple" aria-hidden="true">&nbsp;Apple Podcasts</i></a>
<a href="https://open.spotify.com/show/15xY5xN0SQkhlOKDn89AhZ" target="_blank" class="badge badge-light"><i class="fab fa-spotify" aria-hidden="true">&nbsp;Spotify</i></a>
<a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkLnBvZGJlYW4uY29tL09ubHl0aGVpbXBvcnRhbnRzdHVmZi9mZWVkLnhtbA?sa=X&ved=0CAMQ4aUDahcKEwjY1cuXy936AhUAAAAAHQAAAAAQAQ&hl=en" target="_blank" class="badge badge-light"><i class="fab fa-google" aria-hidden="true">&nbsp;Google Podcasts</i></a>
<a href="https://www.audible.com/pd/only-the-important-stuff-Podcast/B0BC5CTMPG?action_code=ASSGB149080119000H" target="_blank" class="badge badge-light"><i class="fab fa-audible" aria-hidden="true">&nbsp;Audible</i></a>
<a href="https://feed.podbean.com/Onlytheimportantstuff/feed.xml" target="_blank" class="badge badge-light"><i class="fa fa-rss" aria-hidden="true">&nbsp;RSS</i></a>