<p>
    Get the latest episodes of Only the Important Stuff by copying and pasting the URL below into your favorite podcast app:
    <br />
    <br />
    <a href="https://feed.podbean.com/Onlytheimportantstuff/feed.xml" class="badge badge-light" ><i class="fa fa-rss" aria-hidden="true">&nbsp;Only the Important Stuff RSS Feed</i></a>
    <br />
    <br />
</p>
<p>
    You can also subscribe with your favorite app directly by using the buttons below:
    <br />
    <br />
    <a href="https://podcasts.apple.com/us/podcast/only-the-important-stuff/id1642759665" target="_blank"><img height="40" width="158" src="images/apple_podcasts.png" /></a>
    <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkLnBvZGJlYW4uY29tL09ubHl0aGVpbXBvcnRhbnRzdHVmZi9mZWVkLnhtbA?sa=X&ved=0CAMQ4aUDahcKEwjY1cuXy936AhUAAAAAHQAAAAAQAQ&hl=en" target="_blank"><img height="40" width="158" src="images/EN_Google_Podcasts_Badge_1x.png" /></a>
    <a href="https://www.audible.com/pd/only-the-important-stuff-Podcast/B0BC5CTMPG?action_code=ASSGB149080119000H" target="_blank"><img height="40" width="158" src="images/Listen-on-Audible-badge.png" /></a>
    <a href="https://open.spotify.com/show/15xY5xN0SQkhlOKDn89AhZ" target="_blank"><img height="40" width="158" src="images/spotify-podcast-badge-wht-grn-165x40.png" /></a>
    <a href="https://www.iheart.com/podcast/338-only-the-important-stuff-101559219/" target="_blank"><img height="40" width="158" src="images/Listen_On_iHeartRadio.png" /></a>
    <a href="https://r4j68.app.goo.gl/?link=https%3A%2F%2FOnlytheimportantstuff.podbean.com%3Faction%3DopenPodcast%26podcastId%3Dpbblog14966780%26podcastIdTag%3Dcmig3&amp;dfl=https%3A%2F%2FOnlytheimportantstuff.podbean.com&amp;utm_campaign=pb_web&amp;utm_source=podbean_web&amp;utm_medium=dlink&amp;imv=670&amp;amv=530&amp;isi=973361050&amp;ibi=com.podbean.app.podcast&amp;ipbi=com.podbean.app.podcast&amp;apn=com.podbean.app.podcast" rel="noopener noreferrer" target="_blank"><img height="40" width="145" src="https://fastfs1.podbean.com/site/images/badges/w600_1.png" alt="App download"></a>
</p>